In [1]:
import pandas as pd

In [2]:
municipios = pd.read_excel('catalogo_municipios_sepomex.xlsx')

In [3]:
municipios.head()

   CVE_ESTADO     DESC_ESTADO  DESC_MUNICIPIO
0           1  Aguascalientes  Aguascalientes
1           1  Aguascalientes        Asientos
2           1  Aguascalientes        Calvillo
3           1  Aguascalientes           Cosío
4           1  Aguascalientes        El Llano

In [4]:
sucursales = pd.read_excel('sucursales_por_municipio.xlsx')

In [5]:
sucursales.head()

,CVE_PERIODO,CVE_INSTITUCION,DESC_INSTITUCION,CVE_EDO,DESC_EDO,DESC_MUN,LLAVE,NUM_SUCURSALES
0,202004,40002,Banamex,1,Aguascalientes,Aguascalientes,Aguascalientes_Aguascalientes,8
1,202004,40002,Banamex,1,Aguascalientes,Calvillo,Aguascalientes_Calvillo,1
2,202004,40002,Banamex,2,Baja California,Ensenada,Baja California_Ensenada,4
3,202004,40002,Banamex,2,Baja California,Mexicali,Baja California_Mexicali,5
4,202004,40002,Banamex,2,Baja California,Playas de Rosarito,Baja California_Playas de Rosarito,1

## Realizar un breve EDA (Exploratory Data Analysis) para entender los datos.

### Numero de municipios

In [6]:
municipios.shape[0]

2458

### Numero de municipios que tienen sucursal

In [7]:
sucursales = sucursales.dropna().reset_index(drop=True)

In [8]:
sucursales.drop_duplicates(subset=['DESC_EDO','DESC_MUN']).shape

(913, 8)

### Los 3 bancos con mayor sucursales

In [9]:
sucursales[['DESC_INSTITUCION','NUM_SUCURSALES']].groupby('DESC_INSTITUCION',as_index=False).sum().sort_values(by=['NUM_SUCURSALES'],ascending=False).head(3)

   DESC_INSTITUCION  NUM_SUCURSALES
10     Banco Azteca            1878
6         BanCoppel            1192
18          Banorte            1178

### Los 3 bancos con menor número de sucursales

In [10]:
sucursales[['DESC_INSTITUCION','NUM_SUCURSALES']].groupby('DESC_INSTITUCION',as_index=False).sum().sort_values(by=['NUM_SUCURSALES']).head(3)

    DESC_INSTITUCION  NUM_SUCURSALES
0        ABC Capital               1
35  MUFG Bank México               1
34       J.P. Morgan               1

### Los 3 bancos con presencia en mayor número de municipios.

In [11]:
sucursales[['DESC_INSTITUCION','NUM_SUCURSALES']].groupby('DESC_INSTITUCION',as_index=False).count().sort_values(by=['NUM_SUCURSALES'],ascending=False).head(3)

   DESC_INSTITUCION  NUM_SUCURSALES
10     Banco Azteca             794
6         BanCoppel             507
4     BBVA Bancomer             482

## ¿Qué banco es el que ayuda a que haya mayor inclusión financiera en el país?, es ecir, el banco que tiene sucursales en municipios donde otros no.

In [12]:
df = sucursales[['DESC_INSTITUCION','NUM_SUCURSALES']]

In [13]:
df = df.groupby(['DESC_INSTITUCION'],as_index=False).sum()

In [14]:
sucursales_municipios = sucursales[['LLAVE','NUM_SUCURSALES']].groupby('LLAVE',as_index=False).sum()

In [15]:
aux = sucursales.merge(sucursales_municipios[sucursales_municipios['NUM_SUCURSALES']==1][['LLAVE']])

### Por facilidad considerar lo siguiente, los municipios con una sola sucursal indican presencia de un solo banco ahí. Obtener los 3 principales bancos que cumplen esto.

In [16]:
aux[['DESC_INSTITUCION','LLAVE']].groupby(['DESC_INSTITUCION'],as_index=False).count().sort_values(by = ['LLAVE'],ascending=False).head(3)

  DESC_INSTITUCION  LLAVE
4     Banco Azteca    189
1    BBVA Bancomer     34
6          Banorte     18

### Hay algo que puedas identificar de estos municipios?

In [17]:
lst_municipios = aux['LLAVE'].to_list()

In [18]:
aux = sucursales[sucursales['LLAVE'].isin(lst_municipios)]

In [19]:
aux[['DESC_EDO','LLAVE']].groupby('DESC_EDO',as_index=False).count().sort_values(by=['LLAVE'],ascending=False)

                           DESC_EDO  LLAVE
13                           México     34
25  Veracruz de Ignacio de la Llave     33
10                          Jalisco     28
11              Michoacán de Ocampo     24
16                           Oaxaca     18
8                          Guerrero     18
2                           Chiapas     17
17                           Puebla     15
26                          Yucatán     15
6                           Durango      9
12                          Morelos      9
9                           Hidalgo      8
15                       Nuevo León      7
21                           Sonora      7
24                         Tlaxcala      6
23                       Tamaulipas      5
1                          Campeche      4
7                        Guanajuato      4
20                          Sinaloa      4
3                         Chihuahua      3
19                  San Luis Potosí      3
27                        Zacatecas      3
14                          Nayarit      2
4              Coahuila de Zaragoza      2
22                          Tabasco      1
18                     Quintana Roo      1
5                            Colima      1
0                    Aguascalientes      1